{% extends 'energy/base.html' %}
{% block body_block %}
    <div class="col-md-8 ">
        {% if articles %}
            {% for article in articles %}
                <div class="blog-post">
                    <h2>{{ article.title }}</h2>
                    <h4>发表时间: {{ article.pub_date }} </h4>
                    <p>
                        {{ article.content | truncatechars:40 }}
                    </p>
                    <a href="{% url 'blog' article.id %}" class="btn btn-default btn-lg ">更多 <i
                            class="fa fa-angle-right"></i></a>
                </div>
            {% endfor %}
        {% else %}
            <div class="blog-post">
                <h2 class="h2">there is no articles</h2>

            </div>
        {% endif %}
        <br/>
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for i in page %}

                    <li><a href="{% url 'index' %}{{ i }}">{{ i }} </a></li>
                {% endfor %}
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
