{% extends 'energy/base.html' %}
]{% block body_block %}
    <div class="container ">
        <div class="blog-post">
            <br>
            文章内容
            {% if title %}
                <h1 class="h1 aw-publish-title" align="center"> {{ title }}</h1>
                <h4 class="h4" align="right">发布者:{{ author }} <a href="#"></a> {{ date }} </h4>
                <br>
                <br>
            {% endif %}
            {% if content %}
                <p style="font-size: 16px;">
                    {{ content|safe }}
                </p>
            {% else %}
                <p>没有内容</p>
            {% endif %}
            </br>
        </div>
        <br/>
    </div>
{% endblock %}