{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">#}
{#                 <link rel="stylesheet" type="text/css" href="{% static 'energy/css/style.css' %}">#}
{#                  <link rel="stylesheet" type="text/css" href="{% static 'energy/css/bootstrap_2.css' %}">#}
           <link rel="stylesheet" type="text/css" href="{% static 'energy/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'energy/css/new_1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'energy/css/new_2.css' %}">
{#    <link rel="stylesheet" type="text/css" href="{% static 'energy/css/icon.css' %}">#}
{#    <link rel="stylesheet" type="text/css" href="http://wenda.golaravel.com/static/css/icon.css" />#}
{#    <link rel="stylesheet" type="text/css" href="http://wenda.golaravel.com/static/css/icon.css" />#}
{#<link href="http://wenda.golaravel.com/static/css/default/common.css?v=20140930" rel="stylesheet" type="text/css" />#}
{#<link href="http://wenda.golaravel.com/static/css/default/link.css?v=20140930" rel="stylesheet" type="text/css" />#}
{#<link href="http://wenda.golaravel.com/static/js/plug_module/style.css?v=20140930" rel="stylesheet" type="text/css" />#}
{#<link href="http://wenda.golaravel.com/static/css/default/login.css?v=20140930" rel="stylesheet" type="text/css" />#}

</head>
<body>
 <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header navbar-inverse">
            <button type="button"class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="#">节能校园</a>
        </div>

     <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'energy:index' %}">主页</a></li>
{#                        注册用户#}

              <li><a href="{% url 'energy:submit_msg' %}">提交问题</a></li>

                           {% if user.is_authenticated %}
                   <li class="active"><a href="{% url 'energy:Logout' %}">注销</a></li>
                        {% else %}
              <li class="active"><a href="{% url 'energy:Login' %}">登录</a></li>
              <li class="active"><a href="{% url 'energy:register' %}">注册</a></li>


                        {% endif %}
              <li><a href="{% url "energy:article" %}?page_id=1">文章专栏</a></li>
                        <li><a href="{% url "energy:forum" %}">论坛</a></li>
                        <li><a href="#about">关于</a></li>
{#              <li class="dropdown">#}
{#                <a href="#" class="dropdown-toggle" data-toggle="dropdown">下拉菜单 <b class="caret"></b></a>#}
{#                <ul class="dropdown-menu">#}
{#                  <li><a href="#">Action</a></li>#}
{#                  <li><a href="#">Another action</a></li>#}
{#                  <li><a href="#">Something else here</a></li>#}
{#                  <li class="divider"></li>#}
{#                  <li class="nav-header">Nav header</li>#}
{#                  <li><a href="#">Separated link</a></li>#}
{#                  <li><a href="#">One more separated link</a></li>#}
{#                </ul>#}
{#              </li>#}
              <form class="navbar-form pull-right">
              <input class="input-sm" type="text" placeholder="请输入搜索内容">
              <button type="submit" class="btn">搜索</button>
            </form>
            </ul>


     </div>
              </div>
           <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'energy/images/1_5.jpg' %}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="h1">节能校园.</h1>
{#              <p class="lead">减排</p>#}
              <a class="btn btn-large btn-primary" href="{% url 'energy:article' %}">文章专栏</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'energy/images/1_6.jpg' %}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="h1">减排新风貌</h1>
{#              <p class="lead">论坛</p>#}
              <a class="btn btn-large btn-primary" href="{% url 'energy:forum' %}"> 前往论坛</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'energy/images/1_37.jpg' %}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="h1">关于我们</h1>
              <p class="lead"> </p>
              <a class="btn btn-large btn-primary" href="#">前往</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
    </nav>
    {% block body_block %}
{% endblock %}
 <div class="panel-footer">
      <footer class="aw-footer-wrap">
        <p>&copy; Company 2013</p>
      </footer>
 </div>
{##}
{#    </div> <!-- /container -->#}
{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>#}
    <script src="{% static 'energy/js/bootstrap.min.js' %}"></script>
</body>
</html>