{% extends 'energy/base.html' %}

{% block body_block %}
<div class="aw-container-wrap">
<div class="container">
    <div class="row">
        <div class="aw-content-wrap clearfix">
            <div class="col-sm-12 col-md-9 aw-main-content">
					<!-- 话题推荐bar -->
                <div class="aw-mod aw-topic-bar">
                    <div class="tag-bar clearfix">
                        <span class="topic-tag">

                            <a href="">fanjia;</a>

                        </span>
                    </div>
                					<!-- end 话题bar -->

                    <!--  内容 -->
                    <div class="aw-mod aw-question-detail aw-item">
    <div class="mod-head">
            <h1>title </h1>
    </div>

    <div class="mod-body">
        <div class="content markitup-box">
            content
        </div>
    </div>

    <div class="mod-footer">
        foot
        <div class="meta">

            <span class="text-color-999">
                time
            </span>
            <a> 添加评论</a>
{#            <div class="pull-right more-operate" >#}
{##}
{#                <a class="icon icon-share">分享</a>#}
{#                <div aria-labelledby="dropdownmenu" class="aw-dropdown shareout pull-right">#}
{#                    <ul class="aw-dropdown-list">#}
{#                        <li><a onclick=""> 新浪微博</a></li>#}
{##}
{#                    </ul>#}
{##}
{##}
{#                </div>#}
{##}
{#            </div>#}
        </div>

    </div>


</div>
<!--  内容结束 -->
<!--  comment -->
<div class="aw-mod aw-question-comment">
    <div class="mod-head">
        <ul class="nav nav-tabs aw-nav-tabs active">

            <h2 class="hidden-xs"> 回复个数</h2>
        </ul>
    </div>
<div class="mod-body aw-feed-list">
    <div class="aw-item">
        <!--  用户头像 -->
        <div class="mod-head">
            <a class="anchor" name="answer_2910"><img src="http://wenda.golaravel.com/static/common/avatar-mid-img.png"> </a>
        </div>
    </div>
</div>

</div>


                </div>



            </div>


        </div>


    </div>




</div>



</div>


{% endblock %}