{% extends 'energy/base.html' %}
{% load  staticfiles %}
{% block body_block %}
    <div class="aw-container-wrap">
        <div class="container">
            <div class="row">
                <div class="aw-content-wrap clearfix">
                    <div class="col-sm-12 col-md-9 aw-main-content aw-article-content">
                        <div class="aw-mod aw-topic-bar" id="question_topic_editor" data-type="article" data-id="346">
                            <div class="tag-bar clearfix">
																					<span class="topic-tag">
								<a class="text" href="" data-id="57">帖子</a>
							</span>

                            </div>
                        </div>
                        <div class="aw-mod aw-question-detail">
                            <div class="mod-head">
                                <h1>
                                    {{ message.title }}
                                </h1>

                            </div>
                            <div class="mod-body">
                                <div class="content markitup-box">
                                    {{ message.content }}<br/>
                                    {#<a href="http://www.ice-breaker.cn" rel="nofollow" target="_blank">www.ice-breaker.cn</a>#}
                                    {% if message.img %}
                                        <img src="{{ message.img.url }}" class="img-responsive">
                                    {% endif %}
                                </div>
                                <div class="meta clearfix">
                                    <div class="aw-article-vote pull-left disabled">
                                        <a href="javascript:;" class="agree"
                                           onclick="AWS.User.article_vote($(this), 346, 1);"><i
                                                class="icon icon-agree"></i> <b>0</b></a>
                                    </div>

                                    <span class="pull-right  more-operate">


									<a class="text-color-999 dropdown-toggle" data-toggle="dropdown">
										<i class="icon icon-share"></i> 分享									</a>
									<div aria-labelledby="dropdownMenu" role="menu"
                                         class="aw-dropdown shareout pull-right">
										<ul class="aw-dropdown-list">
											<li><a onclick="AWS.User.share_out('tsina');"><i
                                                    class="icon icon-weibo"></i> 新浪微博</a></li>
											<li><a onclick="AWS.User.share_out('qzone');"><i
                                                    class="icon icon-qzone"></i> QZONE</a></li>
											<li><a onclick="AWS.User.share_out('weixin');"><i
                                                    class="icon icon-wechat"></i> 微信</a></li>
										</ul>
									</div>

									<em class="text-color-999">2017-05-28</em>
								</span>


                                </div>
                            </div>
                            <div class="mod-footer">
                            </div>
                        </div>

                        <!-- 文章评论 -->
                        <div class="aw-mod">
                            <div class="mod-head common-head">
                                —{% if comment %}
                                {% for comm in comment %}
                                    <h3> 评论:{{ comm.content }}</h3>
                                {% endfor %}
                            {% else %}
                                <h2>0 个评论</h2>
                            {% endif %}
                            </div>


                        </div>
                        <!-- end 文章评论 -->

                        <!-- 回复编辑器 -->
                        <div class="aw-mod aw-article-replay-box">
                            <a name="answer_form"></a>
                            {% if not user.is_authenticated %}
                                <p align="center">要回复文章请先<a href="{% url 'energy:login' %}">登录</a>或<a
                                        href="{% url 'energy:register' %}">注册</a></p>
                            {% else %}
                                <p align="center">您已经登录，回复功能内测中</p>
                            {% endif %}
                        </div>
                        <!-- end 回复编辑器 -->
                    </div>
                    <!-- 侧边栏 -->
                    <div class="col-sm-12 col-md-3 aw-side-bar hidden-sm hidden-xs">
                        <!-- 发起人 -->
                        <div class="aw-mod user-detail">
                            <div class="mod-head">
                                <h3>发起人</h3>
                            </div>
                            <div class="mod-body">
                                <dl>
                                    <dt class="pull-left aw-border-radius-5">
                                        <a href=""><img alt="joychi" src=""/></a>
                                    </dt>
                                    <dd class="pull-left">
                                        <a class="aw-user-name" href="" data-id="5192">{{ message.user }}</a>
                                        <p></p>
                                    </dd>
                                </dl>
                            </div>
                            <div class="mod-footer clearfix">
                            </div>
                        </div>
                        <!-- end 发起人 -->

                        <!-- 推荐内容 -->
                        <div class="aw-mod">
                            <div class="mod-head">
                                <h3>推荐内容</h3>
                            </div>
                            <div class="mod-body">
                            </div>
                        </div>
                        <!-- end 推荐内容 -->

                        <!-- 相关问题 -->
                        <div class="aw-mod aw-text-align-justify question-related-list">
                            <div class="mod-head">
                                <h3>相关问题</h3>
                            </div>
                            <div class="mod-body">
                            </div>
                        </div>
                        <!-- end 相关问题 -->
                    </div>
                    <!-- end 侧边栏 -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}