
{% extends 'energy/base.html' %}
{% block body_block %}
<div class="aw-container-wrap">

	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<!-- 新消息通知 -->
					<div class="aw-mod aw-notification-box hide" id="index_notification">
						<div class="mod-head common-head">
							<h2>
								<span class="pull-right"><a href="http://wenda.golaravel.com/setting/privacy/#notifications" class="text-color-999"><i class="icon icon-setting"></i> 通知设置</a></span>
								<i class="icon icon-bell"></i>新通知<em class="badge badge-important" name="notification_unread_num"></em>
							</h2>
						</div>
						<div class="mod-body">
							<ul id="notification_list"></ul>
						</div>
						<div class="mod-footer clearfix">
							<a href="javascript:;" onclick="AWS.Message.read_notification(false, 0, false);" class="pull-left btn btn-mini btn-gray">我知道了</a>
							<a href="http://wenda.golaravel.com/notifications/" class="pull-right btn btn-mini btn-success">查看所有</a>
						</div>
					</div>
					<!-- end 新消息通知 -->
					<!-- tab切换 -->
					<ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
						<li><a href="http://wenda.golaravel.com/sort_type-unresponsive">等待回复</a></li>
						<li><a href="http://wenda.golaravel.com/sort_type-hot__day-7" id="sort_control_hot">热门</a></li>
						<li><a href="http://wenda.golaravel.com/is_recommend-1">推荐</a></li>
						<li class="active"><a href="">最新</a></li>

						<h2 class="hidden-xs"><i class="icon icon-list"></i> 发现</h2>
					</ul>
					<!-- end tab切换 -->


					<div class="aw-mod aw-explore-list">
						<div class="mod-body">
							<div class="aw-common-list">
								<div class="aw-item " data-topic-id="224,550,">
	<a class="aw-user-name hidden-xs" data-id="385" href="http://wenda.golaravel.com/people/wuangv" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/756"> laravel 5  可以添加一些自己全局函数吗</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="758" href="http://wenda.golaravel.com/people/yushi" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/07/58_avatar_mid.jpg" alt="" /></a>
		    		    <a class="aw-user-name" data-id="5417" href="http://wenda.golaravel.com/people/Eearnp" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/54/17_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Eearnp" class="aw-user-name" data-id="5417">Eearnp</a>
				<span class="text-color-999">回复了问题 • 3 人关注 • 2 个回复 • 15008 次浏览 • 2018-02-09 16:11				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="526,">
	<a class="aw-user-name hidden-xs" data-id="683" href="http://wenda.golaravel.com/people/Usual" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/06/83_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/718">如果想创建一个像 url 这种的全局函数应该怎样做？</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="758" href="http://wenda.golaravel.com/people/yushi" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/07/58_avatar_mid.jpg" alt="" /></a>
		    		    <a class="aw-user-name" data-id="839" href="http://wenda.golaravel.com/people/zhuzhichao" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/08/39_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Eearnp" class="aw-user-name" data-id="5417">Eearnp</a>
				<span class="text-color-999">回复了问题 • 6 人关注 • 3 个回复 • 14091 次浏览 • 2018-02-09 16:10				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item article" data-topic-id="1198,57,">
	<a class="aw-user-name hidden-xs" data-id="5417" href="http://wenda.golaravel.com/people/Eearnp" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/54/17_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/article/350">[ 拓展包: laravel-google-authenticator ] 通过Google身份验证器为你的网站打造一个动态手机令牌</a>
					</h4>

		<p>
										<a href="http://wenda.golaravel.com/people/Eearnp" class="aw-user-name">Eearnp</a> <span class="text-color-999">发表了文章 • 0 个评论 • 1132 次浏览 • 2017-11-07 23:06</span>
						<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="473,">
	<a class="aw-user-name hidden-xs" data-id="973" href="http://wenda.golaravel.com/people/Maybe" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/638">laravel5  如何开发扩展包？</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="176" href="http://wenda.golaravel.com/people/bantes" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/01/76_avatar_mid.jpg" alt="" /></a>
		    		    <a class="aw-user-name" data-id="5417" href="http://wenda.golaravel.com/people/Eearnp" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/54/17_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Eearnp" class="aw-user-name" data-id="5417">Eearnp</a>
				<span class="text-color-999">回复了问题 • 4 人关注 • 2 个回复 • 4416 次浏览 • 2017-11-07 22:59				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item article" data-topic-id="856,">
	<a class="aw-user-name hidden-xs" data-id="3675" href="http://wenda.golaravel.com/people/peng" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/36/75_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/article/349">buibu</a>
					</h4>

		<p>
										<a href="http://wenda.golaravel.com/people/peng" class="aw-user-name">peng</a> <span class="text-color-999">发表了文章 • 0 个评论 • 448 次浏览 • 2017-10-29 21:41</span>
						<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="1193,1194,1195,496,1196,">
	<a class="aw-user-name hidden-xs" data-id="4945" href="http://wenda.golaravel.com/people/_kit" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2622">throttle中间件如何限制每个用户的访问频率</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="138" href="http://wenda.golaravel.com/people/sueysok" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-mid-img.png" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/sueysok" class="aw-user-name" data-id="138">sueysok</a>
				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 760 次浏览 • 2017-10-20 13:45				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="918,">
	<a class="aw-user-name hidden-xs" data-id="1867" href="http://wenda.golaravel.com/people/kuiye" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/1500">请问增么使用第三方SDK？</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="1728" href="http://wenda.golaravel.com/people/%E7%88%AC%E8%A1%8C%E7%9A%84%E5%A4%A7%E7%88%B7" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/17/28_avatar_mid.jpg" alt="" /></a>
		    		    <a class="aw-user-name" data-id="1888" href="http://wenda.golaravel.com/people/kailuo99" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-mid-img.png" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Eearnp" class="aw-user-name" data-id="5417">Eearnp</a>
				<span class="text-color-999">回复了问题 • 4 人关注 • 3 个回复 • 4434 次浏览 • 2017-10-17 13:52				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="448,">
	<a class="aw-user-name hidden-xs" data-id="936" href="http://wenda.golaravel.com/people/xiangzi" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/538">redis laravel5 predis</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="678" href="http://wenda.golaravel.com/people/xlimit" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-mid-img.png" alt="" /></a>
		    		    <a class="aw-user-name" data-id="950" href="http://wenda.golaravel.com/people/webclz" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-mid-img.png" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Eearnp" class="aw-user-name" data-id="5417">Eearnp</a>
				<span class="text-color-999">回复了问题 • 4 人关注 • 4 个回复 • 17179 次浏览 • 2017-10-11 22:24				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="1180,">
	<a class="aw-user-name hidden-xs" data-id="5001" href="http://wenda.golaravel.com/people/%E5%A4%A9%E4%BA%AE%E4%BA%86" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/50/01_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2613">mac中 Laravel中Homestead中的项目开发用什么开发工具啊</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="38" href="http://wenda.golaravel.com/people/bailitushu" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/00/38_avatar_mid.jpg" alt="" /></a>
		    		    <a class="aw-user-name" data-id="535" href="http://wenda.golaravel.com/people/kelson" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/05/35_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/kelson" class="aw-user-name" data-id="535">kelson</a>
				<span class="text-color-999">回复了问题 • 3 人关注 • 2 个回复 • 931 次浏览 • 2017-09-21 09:05				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item active" data-topic-id="1197,57,283,58,">
	<a class="aw-user-name hidden-xs" data-id="4945" href="http://wenda.golaravel.com/people/_kit" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2623">laravel请求服务器返回的头信息的时区不正确</a>
					</h4>
				<a href="http://wenda.golaravel.com/question/2623#!answer_form" class="pull-right text-color-999">回复</a>

		<p>
																<a href="http://wenda.golaravel.com/people/_kit" class="aw-user-name">_kit</a>
				<span class="text-color-999">发起了问题 • 1 人关注 • 0 个回复 • 653 次浏览 • 2017-09-13 09:14
				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item article" data-topic-id="1009,95,1192,">
	<a class="aw-user-name hidden-xs" data-id="478" href="http://wenda.golaravel.com/people/a78925880" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/04/78_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/article/348">关于模型查询where('num1','&lt;','num2') 奇葩问题</a>
					</h4>

		<p>
										<a href="http://wenda.golaravel.com/people/a78925880" class="aw-user-name">a78925880</a> <span class="text-color-999">发表了文章 • 2 个评论 • 401 次浏览 • 2017-09-12 14:50</span>
						<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item article" data-topic-id="1189,1190,1191,">
	<a class="aw-user-name hidden-xs" data-id="38" href="http://wenda.golaravel.com/people/bailitushu" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/00/38_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/article/347">Laravel5.5免费视频教程</a>
					</h4>

		<p>
										<a href="http://wenda.golaravel.com/people/bailitushu" class="aw-user-name">百里屠苏</a> <span class="text-color-999">发表了文章 • 0 个评论 • 1706 次浏览 • 2017-09-10 02:52</span>
						<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="23,16,15,24,">
	<a class="aw-user-name hidden-xs" data-id="2" href="http://wenda.golaravel.com/people/wangsai" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/00/02_avatar_max.jpg" alt="" /><i class="icon icon-v"></i></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/18">大家试试 Composer 全量国内镜像吧</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="538" href="http://wenda.golaravel.com/people/steptn" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-mid-img.png" alt="" /></a>
		    		    <a class="aw-user-name" data-id="7" href="http://wenda.golaravel.com/people/%E6%98%9F%E6%9E%AB" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/00/07_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/duzhenlin" class="aw-user-name" data-id="3335">duzhenlin</a>
				<span class="text-color-999">回复了问题 • 60 人关注 • 66 个回复 • 85960 次浏览 • 2017-07-25 09:57				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item active" data-topic-id="1186,7,1187,57,">
	<a class="aw-user-name hidden-xs" data-id="5675" href="http://wenda.golaravel.com/people/jungle" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2620">为什不能删除问题.</a>
					</h4>
				<a href="http://wenda.golaravel.com/question/2620#!answer_form" class="pull-right text-color-999">回复</a>

		<p>
																<a href="http://wenda.golaravel.com/people/jungle" class="aw-user-name">jungle</a>
				<span class="text-color-999">发起了问题 • 0 人关注 • 0 个回复 • 812 次浏览 • 2017-07-03 16:45
				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="299,">
	<a class="aw-user-name hidden-xs" data-id="613" href="http://wenda.golaravel.com/people/ssoor" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/337">laravel 怎么实现 302 301 跳转功能,php 的 header 指定的会被覆盖成200 OK</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="29" href="http://wenda.golaravel.com/people/FiveSay" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/00/29_avatar_mid.jpg" alt="" /></a>
		    		    <a class="aw-user-name" data-id="5015" href="http://wenda.golaravel.com/people/%E5%94%AF%E7%BE%8E%E8%A1%97%E6%8B%8D" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-mid-img.png" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/%E5%94%AF%E7%BE%8E%E8%A1%97%E6%8B%8D" class="aw-user-name" data-id="5015">唯美街拍</a>
				<span class="text-color-999">回复了问题 • 3 人关注 • 2 个回复 • 7218 次浏览 • 2017-06-29 15:54				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="">
	<a class="aw-user-name hidden-xs" data-id="4141" href="http://wenda.golaravel.com/people/rencongcong" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/41/41_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2100">技术交流群有没有推荐的？</a>
					</h4>
				<a href="http://wenda.golaravel.com/question/2100#!answer_form" class="pull-right text-color-999">回复</a>

		<p>
												<a href="http://wenda.golaravel.com/people/rencongcong" class="aw-user-name" data-id="4141">火红橘子</a>
				<span class="text-color-999">回复了问题 • 1 人关注 • 5 个回复 • 1587 次浏览 • 2017-06-11 19:04				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="1096,">
	<a class="aw-user-name hidden-xs" data-id="1145" href="http://wenda.golaravel.com/people/%E6%97%B6%E4%BB%A3%E5%8F%98%E8%BF%81" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/11/45_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2060">laravel 5.2 登录界面 ajax异步请求登录接口，在接口中设置Session，跳转后取不值</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="2287" href="http://wenda.golaravel.com/people/zhangyouchao" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-mid-img.png" alt="" /></a>
		    		    <a class="aw-user-name" data-id="1692" href="http://wenda.golaravel.com/people/meditatorzhang" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-mid-img.png" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/%E5%BE%AE%E7%B1%B3%E7%B2%92_%E5%B0%8F%E7%A8%8B" class="aw-user-name" data-id="3310">微米粒_小程</a>
				<span class="text-color-999">回复了问题 • 5 人关注 • 4 个回复 • 3487 次浏览 • 2017-06-10 18:32				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="788,">
	<a class="aw-user-name hidden-xs" data-id="1568" href="http://wenda.golaravel.com/people/luohai" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/1281">laravel 中 两个表左连接  如何给表 起别名</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="3629" href="http://wenda.golaravel.com/people/%E5%AF%A5%E8%8B%A5%E6%99%A8%E6%98%9F" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-mid-img.png" alt="" /></a>
		    		    <a class="aw-user-name" data-id="4270" href="http://wenda.golaravel.com/people/%E5%BF%83%E7%BB%BF%E8%87%AA%E7%84%B6" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/42/70_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/%E5%BF%83%E7%BB%BF%E8%87%AA%E7%84%B6" class="aw-user-name" data-id="4270">心绿自然</a>
				<span class="text-color-999">回复了问题 • 3 人关注 • 2 个回复 • 11051 次浏览 • 2017-06-05 17:26				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item article" data-topic-id="57,">
	<a class="aw-user-name hidden-xs" data-id="5192" href="http://wenda.golaravel.com/people/joychi" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/article/346">用laravel5.4写了个博客。欢迎大家来访与测试</a>
					</h4>

		<p>
										<a href="http://wenda.golaravel.com/people/joychi" class="aw-user-name">joychi</a> <span class="text-color-999">发表了文章 • 0 个评论 • 2086 次浏览 • 2017-05-28 23:38</span>
						<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item active" data-topic-id="">
	<a class="aw-user-name hidden-xs" data-id="5902" href="http://wenda.golaravel.com/people/%E9%98%B3%E5%85%89%E7%81%BF%E7%83%82%E7%8C%AA%E5%85%AB%E6%88%92" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/59/02_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2619">Blockscloud Web OS 基于laravel+vue</a>
					</h4>
				<a href="http://wenda.golaravel.com/question/2619#!answer_form" class="pull-right text-color-999">回复</a>

		<p>
																<a href="http://wenda.golaravel.com/people/%E9%98%B3%E5%85%89%E7%81%BF%E7%83%82%E7%8C%AA%E5%85%AB%E6%88%92" class="aw-user-name">阳光灿烂猪八戒</a>
				<span class="text-color-999">发起了问题 • 1 人关注 • 0 个回复 • 1065 次浏览 • 2017-05-28 16:06
				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item active" data-topic-id="30,">
	<a class="aw-user-name hidden-xs" data-id="5696" href="http://wenda.golaravel.com/people/jefferyjob" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/56/96_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2618">laravel 路由报错 !!!</a>
					</h4>
				<a href="http://wenda.golaravel.com/question/2618#!answer_form" class="pull-right text-color-999">回复</a>

		<p>
																<a href="http://wenda.golaravel.com/people/jefferyjob" class="aw-user-name">jefferyjob</a>
				<span class="text-color-999">发起了问题 • 1 人关注 • 0 个回复 • 822 次浏览 • 2017-05-26 12:07
				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item active" data-topic-id="1177,3,">
	<a class="aw-user-name hidden-xs" data-id="5696" href="http://wenda.golaravel.com/people/jefferyjob" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/56/96_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2617">请问各位大神, 一个 laravel5.4 和 laravel5.1 的问题 !!!!</a>
					</h4>
				<a href="http://wenda.golaravel.com/question/2617#!answer_form" class="pull-right text-color-999">回复</a>

		<p>
																<a href="http://wenda.golaravel.com/people/jefferyjob" class="aw-user-name">jefferyjob</a>
				<span class="text-color-999">发起了问题 • 1 人关注 • 0 个回复 • 1025 次浏览 • 2017-05-26 10:49
				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="568,">
	<a class="aw-user-name hidden-xs" data-id="1849" href="http://wenda.golaravel.com/people/meow" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/18/49_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2616">https://www.golaravel.com打不开</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="2" href="http://wenda.golaravel.com/people/wangsai" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/00/02_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/wangsai" class="aw-user-name" data-id="2">王赛</a>
				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 916 次浏览 • 2017-05-16 10:49				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item article" data-topic-id="1185,">
	<a class="aw-user-name hidden-xs" data-id="5417" href="http://wenda.golaravel.com/people/Eearnp" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/54/17_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/article/345">Laravel 一条 SQL 如何 count 多个字段，Laravel 一条 sql 查询每个分类的数量</a>
					</h4>

		<p>
										<a href="http://wenda.golaravel.com/people/Eearnp" class="aw-user-name">Eearnp</a> <span class="text-color-999">发表了文章 • 0 个评论 • 775 次浏览 • 2017-05-12 11:27</span>
						<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item active" data-topic-id="30,">
	<a class="aw-user-name hidden-xs" data-id="2978" href="http://wenda.golaravel.com/people/Xiaoksle" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/29/78_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2615">获取路由下的所有GET规则</a>
					</h4>
				<a href="http://wenda.golaravel.com/question/2615#!answer_form" class="pull-right text-color-999">回复</a>

		<p>
																<a href="http://wenda.golaravel.com/people/Xiaoksle" class="aw-user-name">Xiaoksle</a>
				<span class="text-color-999">发起了问题 • 1 人关注 • 0 个回复 • 1034 次浏览 • 2017-05-11 15:52
				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item active" data-topic-id="1181,1182,1183,1184,">
	<a class="aw-user-name hidden-xs" data-id="278" href="http://wenda.golaravel.com/people/%E7%A9%BA%E6%B0%94" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/02/78_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2614">laravel5.2在iframe下跳转bug,无法跳转正确地址，我不知道其他版本会不会这样。</a>
					</h4>
				<a href="http://wenda.golaravel.com/question/2614#!answer_form" class="pull-right text-color-999">回复</a>

		<p>
																<a href="http://wenda.golaravel.com/people/%E7%A9%BA%E6%B0%94" class="aw-user-name">空气</a>
				<span class="text-color-999">发起了问题 • 1 人关注 • 0 个回复 • 838 次浏览 • 2017-05-11 15:49
				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="1017,">
	<a class="aw-user-name hidden-xs" data-id="5894" href="http://wenda.golaravel.com/people/gg99gg9" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2446">laravel  excel 报错：Class excel does not exist</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="1531" href="http://wenda.golaravel.com/people/Jachase" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/15/31_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Jachase" class="aw-user-name" data-id="1531">Jachase</a>
				<span class="text-color-999">回复了问题 • 2 人关注 • 2 个回复 • 1115 次浏览 • 2017-04-26 16:47				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="1091,">
	<a class="aw-user-name hidden-xs" data-id="5920" href="http://wenda.golaravel.com/people/Antion_Zhou" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/59/20_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2467">laravel5.2运行报错！</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="1531" href="http://wenda.golaravel.com/people/Jachase" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/15/31_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Jachase" class="aw-user-name" data-id="1531">Jachase</a>
				<span class="text-color-999">回复了问题 • 2 人关注 • 2 个回复 • 930 次浏览 • 2017-04-26 15:36				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="30,">
	<a class="aw-user-name hidden-xs" data-id="1687" href="http://wenda.golaravel.com/people/%E7%8C%9C%E7%8C%9C%E6%88%91%E6%98%AF%E8%B0%81" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/1905">LARAVEL  获取当前路由不是这个嘛？</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="1608" href="http://wenda.golaravel.com/people/ajiader" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/16/08_avatar_mid.jpg" alt="" /></a>
		    		    <a class="aw-user-name" data-id="5239" href="http://wenda.golaravel.com/people/%E6%B8%85%E9%86%92%E7%9D%80%E6%B2%89%E6%B2%A6" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/52/39_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Jachase" class="aw-user-name" data-id="1531">Jachase</a>
				<span class="text-color-999">回复了问题 • 5 人关注 • 5 个回复 • 6517 次浏览 • 2017-04-26 15:35				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="1174,246,">
	<a class="aw-user-name hidden-xs" data-id="4707" href="http://wenda.golaravel.com/people/yaobaliu" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2471">两张表laravel如何实现select * from a where pid in (select id from b)效果？</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="1531" href="http://wenda.golaravel.com/people/Jachase" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/15/31_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Jachase" class="aw-user-name" data-id="1531">Jachase</a>
				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 1138 次浏览 • 2017-04-26 15:33				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="1176,814,">
	<a class="aw-user-name hidden-xs" data-id="4444" href="http://wenda.golaravel.com/people/%E9%9F%A6%E6%A3%AE" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/44/44_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2484">laravel项目本地运行良好，上传apache服务器后访问首页显示空白无报错 PHP版本5.6</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="1531" href="http://wenda.golaravel.com/people/Jachase" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/15/31_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Jachase" class="aw-user-name" data-id="1531">Jachase</a>
				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 1134 次浏览 • 2017-04-26 15:30				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="248,">
	<a class="aw-user-name hidden-xs" data-id="6225" href="http://wenda.golaravel.com/people/xiaomuren" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/62/25_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2609">laravel框架是不是不能开发gbk网站？？？中文都是乱码</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="1531" href="http://wenda.golaravel.com/people/Jachase" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/15/31_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Jachase" class="aw-user-name" data-id="1531">Jachase</a>
				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 1404 次浏览 • 2017-04-26 15:29				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="482,">
	<a class="aw-user-name hidden-xs" data-id="2978" href="http://wenda.golaravel.com/people/Xiaoksle" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/29/78_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2612">ORM过滤查询（request-&gt;name不为空才执行where条件）</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="1531" href="http://wenda.golaravel.com/people/Jachase" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/15/31_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Jachase" class="aw-user-name" data-id="1531">Jachase</a>
				<span class="text-color-999">回复了问题 • 2 人关注 • 2 个回复 • 1361 次浏览 • 2017-04-26 15:25				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="91,">
	<a class="aw-user-name hidden-xs" data-id="5696" href="http://wenda.golaravel.com/people/jefferyjob" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/56/96_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2385">laravel 怎么实现前后台分离 就好比YII那样的</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="1531" href="http://wenda.golaravel.com/people/Jachase" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/15/31_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Jachase" class="aw-user-name" data-id="1531">Jachase</a>
				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 1712 次浏览 • 2017-04-26 15:15				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="1158,748,">
	<a class="aw-user-name hidden-xs" data-id="5517" href="http://wenda.golaravel.com/people/qingfengxulai" rel="nofollow"><img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2386">学习IT这些学习路线图怎么能错过？</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="1531" href="http://wenda.golaravel.com/people/Jachase" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/15/31_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Jachase" class="aw-user-name" data-id="1531">Jachase</a>
				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 1089 次浏览 • 2017-04-26 15:14				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="3,">
	<a class="aw-user-name hidden-xs" data-id="6082" href="http://wenda.golaravel.com/people/%E5%91%B5%E5%91%B5" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/60/82_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2487">Request::ajax() 报错，怎么回事？</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="1531" href="http://wenda.golaravel.com/people/Jachase" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/15/31_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Jachase" class="aw-user-name" data-id="1531">Jachase</a>
				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 838 次浏览 • 2017-04-26 14:22				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="57,">
	<a class="aw-user-name hidden-xs" data-id="5926" href="http://wenda.golaravel.com/people/strongthen" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/59/26_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2468">怎么才可以快速的找到Laravel 框架中的某个类的位置呢？？</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="6003" href="http://wenda.golaravel.com/people/%E5%92%8C%E9%81%93%E4%B8%80%E6%96%87%E5%AD%97" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/60/03_avatar_mid.jpg" alt="" /></a>
		    		    <a class="aw-user-name" data-id="5939" href="http://wenda.golaravel.com/people/%E6%BB%94%E6%BB%94%E4%B8%8D%E7%BB%9D" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/59/39_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Jachase" class="aw-user-name" data-id="1531">Jachase</a>
				<span class="text-color-999">回复了问题 • 6 人关注 • 5 个回复 • 1738 次浏览 • 2017-04-26 14:21				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item " data-topic-id="819,1112,">
	<a class="aw-user-name hidden-xs" data-id="6120" href="http://wenda.golaravel.com/people/COLA_LIMPID" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/61/20_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2511">laravel5 中路由中的命名空间到底怎么用</a>
					</h4>
				<div class="pull-right hidden-xs contribute">
			<span class="pull-right text-color-999">贡献</span>
		    		    <a class="aw-user-name" data-id="1531" href="http://wenda.golaravel.com/people/Jachase" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/15/31_avatar_mid.jpg" alt="" /></a>
		    		</div>

		<p>
												<a href="http://wenda.golaravel.com/people/Jachase" class="aw-user-name" data-id="1531">Jachase</a>
				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 1030 次浏览 • 2017-04-26 14:21				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item active" data-topic-id="1125,">
	<a class="aw-user-name hidden-xs" data-id="478" href="http://wenda.golaravel.com/people/a78925880" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/04/78_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2611">查询数据库千条数据get()请求停止,this request has no preview available</a>
					</h4>
				<a href="http://wenda.golaravel.com/question/2611#!answer_form" class="pull-right text-color-999">回复</a>

		<p>
																<a href="http://wenda.golaravel.com/people/a78925880" class="aw-user-name">a78925880</a>
				<span class="text-color-999">发起了问题 • 1 人关注 • 0 个回复 • 1560 次浏览 • 2017-04-21 09:40
				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
<div class="aw-item active" data-topic-id="317,">
	<a class="aw-user-name hidden-xs" data-id="5964" href="http://wenda.golaravel.com/people/%E5%AE%9D%E9%87%91" rel="nofollow"><img src="http://wenda.golaravel.com/uploads/avatar/000/00/59/64_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
		<h4>
						<a href="http://wenda.golaravel.com/question/2610">laravel/laravel-admin使用intervention/image进行图片裁切报错求解？</a>
					</h4>
				<a href="http://wenda.golaravel.com/question/2610#!answer_form" class="pull-right text-color-999">回复</a>

		<p>
																<a href="http://wenda.golaravel.com/people/%E5%AE%9D%E9%87%91" class="aw-user-name">宝金</a>
				<span class="text-color-999">发起了问题 • 1 人关注 • 0 个回复 • 1009 次浏览 • 2017-04-18 18:20
				</span>
									<span class="text-color-999 related-topic hide"> •  来自相关话题</span>
		</p>

			</div>
</div>
							</div>
						</div>
						<div class="mod-footer">
							<div class="page-control"><ul class="pagination pull-right"><li class="active"><a href="javascript:;">1</a></li><li><a href="http://wenda.golaravel.com/sort_type-new__day-0__is_recommend-0__page-2">2</a></li><li><a href="http://wenda.golaravel.com/sort_type-new__day-0__is_recommend-0__page-3">3</a></li><li><a href="http://wenda.golaravel.com/sort_type-new__day-0__is_recommend-0__page-4">4</a></li><li><a href="http://wenda.golaravel.com/sort_type-new__day-0__is_recommend-0__page-2">&gt;</a></li><li><a href="http://wenda.golaravel.com/sort_type-new__day-0__is_recommend-0__page-53">&gt;&gt;</a></li></ul></div>						</div>
					</div>
				</div>

				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
					<div class="aw-mod">
	<div class="mod-head">
		<h3>专题</h3>
	</div>
	<div class="mod-body">
		<ul>
							<li><a href="http://wenda.golaravel.com/feature/1">Composer中国镜像</a></li>
					</ul>
	</div>
</div>
					<div class="aw-mod aw-text-align-justify">
	<div class="mod-head">
		<a href="http://wenda.golaravel.com/topic/channel-hot" class="pull-right">更多 &gt;</a>
		<h3>热门话题</h3>
	</div>
	<div class="mod-body">
							</div>
</div>
					<div class="aw-mod aw-text-align-justify">
	<div class="mod-head">
		<a href="http://wenda.golaravel.com/people/" class="pull-right">更多 &gt;</a>
		<h3>热门用户</h3>
	</div>
	<div class="mod-body">

		<dl>
			<dt class="pull-left aw-border-radius-5">
				<a href="http://wenda.golaravel.com/people/G8Ycn"><img alt="" src="http://wenda.golaravel.com/static/common/avatar-mid-img.png" /></a>
			</dt>
			<dd class="pull-left">
				<a href="http://wenda.golaravel.com/people/G8Ycn" data-id="740" class="aw-user-name">G8Ycn						</a>
				<p class="signature"></p>
				<p><b>29</b> 个问题, <b>2</b> 次赞同</p>
			</dd>
		</dl>
					</div>
</div>				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>




{% endblock %}