{% extends 'energy/base.html' %}

{% block body_block %}

 <div class="container container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="well sidebar-nav col-md5">
            <ul class="nav nav-list ">
              <li class="nav-header">分类</li>
                {% for type in all_types %}
              <li><a href="#">{{ type.name }}</a></li>
                {% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="col-md-9">
          <div class="jumbotron">
            <h1>问题留言板</h1>
            <p>节能校园，从我做起</p>
            <p><a href="#" class="btn btn-primary btn-large">了解更多 &raquo;</a></p>
              <div class="row">
              {% for messge in all_messages %}
               <div class="col-md-6">
              <h2 class="h2">{{ messge.title }}
                  {% if messge.is_deal %}
                      <label class="label">(已解决)</label>
                  <span class="glyphicon glyphicon-ok" style="color: #38b836"></span>
                  {% else %}
                  <span class="glyphicon glyphicon-remove btn-sm" style="color: #c9302c"></span>
                                      <label class="label btn-sm"style="color: #000000">(未解决)</label>

                  {% endif %}
              </h2>
              <p class="h3"> {{messge.content }} </p>
              <p><a class="btn" href="{% url 'energy:detail' messge.id %}">更多 &raquo;</a></p>
            </div><!--/span-->
              {% endfor %}
          </div><!--/row-->
          </div>

        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy;  2018</p>
      </footer>

    </div><!--/.fluid-container-->

{% endblock %}