{% extends 'energy/base.html' %}
{% block body_block %}
    <div class="container">
        <div class="row">

            {% if error %}
                <h1 align="center"> {{ error }}</h1>
            {% endif %}
            <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data"
                  action="{% url 'energy:energy:submit_msg' %}">
                {% csrf_token %}
                {% include 'energy/form_template_2.html' %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">
                            submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}